@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Ski With Dave!</h1>
    <p>Come learn why I love skiing so much - and how you can love it too!</p>
    <br /><br />
    <h4>3 things that make skiing my favorite sport:</h4>
    <br />
    <img src="~/img/carving.PNG" alt="Carving_Skier" style="display: block; margin: 0 auto; width: 50%; height: auto;">
    <br /><br />
    <p>
        First off, I love going super fast and carving on my edges, especially early in the morning when there's fresh corduroy.  You can get so
        low, it's exhilerating to feel your skis track through the snow and hold the smallest edge.
    </p>
    <br /><br />
    <img src="~/img/powder.PNG" alt="Powder_Skier" style="display: block; margin: 0 auto; width: 50%; height: auto;">
    <br /><br />
    <p>
        Skiing powder is such a unique feeling, unlike anything else I've ever experienced.  At times the snow is so deep it'll cover your
        head and go down your throat when you turn, it's bizarre.  The snow is so soft, and for a second it feels like you're floating
        on a cloud.
    </p>
    <br /><br />
    <img src="~/img/backflip.PNG" alt="Backflip_Skier" style="display: block; margin: 0 auto; width: 50%; height: auto;">
    <br /><br />
    <p>
        Lastly, pushing myself to send new tricks and progress in the air keeps skiing new and entertaining.  Nothing beats being up there
        with some of my best friends, challenging each other to do stupid things and taking some hard falls together.  
    </p>
    <br /><br />
</div>


